<div>
    <div>
        <h1>Forgot Password</h1>
        <p>Enter your cell phone number and we'll send you a link to reset your password.</p>
        <form>
            <div class="centeredColumn">
                <br>
                <!-- <input class="enterUserName" ng-model="user.twilioNumber" type="text" placeholder="phone number" autofocus> -->
                <div class="phoneNumInputGroup">
                    <span class="phoneNumInputGroupLabel">1&nbsp;</span><input id="phoneNum" ng-model="user.phoneNum" type="text" ng-keyup="phoneNumCheckTest($event)" placeholder="XXXXXXXXXX" maxlength="10" required autofocus/>
                </div>
                <br>
                <button ng-click="submitResetPassword(user)">Submit</button>
                <button ng-click="cancel()">Cancel</button>
            </div>
        </form>
    </div>
</div>