<header>
    <a ui-sref="listingagent" class="backToLa">&#xf0a8;</a>
    <div class="heading">Change Password</div>
</header>

<div class="spacingForm"></div>
<div class="centeredColumn">
    <form>
        <!-- <<<<<<< Updated upstream-->
        <!--<div class="span3">
            <label for="">Company Name</label>
            <input type="text" class="input-block-level" placeholder="Enter company name..."
                   ng-model="user.companyName" required/>
        </div>-->

        <!--<div class="span3">
            <label for="">Phone Number</label>
            <input id="phoneNum" type="text" class="input-block-level" placeholder="Enter phone number..." ng-keypress="phoneNumCheck($event)"
                   ng-keyup="phoneNumCheck2($event)" ng-model="user.phoneNum" size="14" maxlength="14" />
        </div>-->
        <!--<div>MLS Id</div>-->
        <!--<input ng-model="agent.mlsId" type="text" placeholder="mls id" required>-->
        <!--&gt;>>>>>> Stashed changes-->


        <!--<div class="span3">
            <label for="">Email</label>
            <input type="email" class="input-block-level" placeholder="Enter email..."
                   ng-model="user.email" />
        </div>-->
        <!--&ndash;&gt;-->
        <!--<input ng-model="user.email" type="text" class="inputText2" required/>
        <span class="plcholder2">Email</span>-->

        <!--<input ng-model="user.phoneNum" type="text" class="inputText3" required/>
        <span class="plcholder3">Phone Number</span>-->
        <!--<div class="span3">
            <label for="">Phone Number</label>
            <input id="phoneNum" type="text" class="input-block-level" placeholder="1 (XXX) XXX-XXXX" ng-keyup="phoneNumCheck($event)" ng-model="user.phoneNum" size="16"
                   maxlength="16" required/>
        </div>-->

    </form>

    <br>

    <div class="span3">
        <label for="">Password</label>
        <input id="password" type="password" class="input-block-level" ng-model="password"
               ng-keyup="passwordCheck()"
               placeholder="Enter password..." required/>
    </div>

    <div class="span3">
        <label id="passwordMessage" for="">{{passwordMessage}}</label>
        <input id="passwordCheck" type="password" class="input-block-level" ng-model="passwordCheckHolder"
               placeholder="Re-enter password..." ng-keyup="passwordCheck()" required/>
    </div>

    <div class="centerTheButton">
        <button ng-click="editPassword(user._id)">Update Password</button>
    </div>
    <!--</form>-->

</div>



