<header>
  <a ui-sref="listingagent" class="backToLa">&#xf0a8;</a>
 
    <div class="heading">{{listing.address}}</div>
   
  </header>
  <script>
    $('.text').click(function(){
		var $this = $(this);
		$this.toggleClass('text');
		if($this.hasClass('text')){
			$this.text('?');			
		} else {
			$this.text('X');
		}
	});
    </script>



    
  <div class="spacingFirstNgRepeat "></div>
  <div>
<table>
  <tr>
    <td class="dayTitle" colspan="4">Today</td>
  </tr>
  <tr>
    <td class="text">7:00 am</td>
    <td class="text">11:00 am</td>
    <td class="text">3:00 pm</td>
    <td class="text">7:00 pm</td>
  </tr>
  <tr>
    <td class="text">7:30 am</td>
    <td class="text">11:30 am</td>
    <td class="text">3:30 pm</td>
    <td class="text">7:30 pm</td>
  </tr>
  <tr>
    <td class="text">8:00 am</td>
    <td class="text">12:00 pm</td>
    <td class="text">4:00 pm</td>
    <td class="text">8:00 pm</td>
  </tr>
  <tr>
    <td>8:30 am</td>
    <td>12:30 pm</td>
    <td>4:30 pm</td>
    <td>8:30 pm</td>
  </tr>
  <tr>
    <td>9:00 am</td>
    <td>1:00 pm</td>
    <td>5:00 pm</td>
    <td>9:00 pm</td>
  </tr>
  <tr>
    <td>9:30 am</td>
    <td>1:30 pm</td>
    <td>5:30 pm</td>
    <td>9:30 pm</td>
  </tr>
  <tr>
    <td>10:00 am</td>
    <td>2:00 pm</td>
    <td>6:00 pm</td>
    <td>10:00 pm</td>
  </tr>
  <tr>
    <td>10:30 am</td>
    <td>2:30 pm</td>
    <td>6:30 pm</td>
    <td>10:30 pm</td>
  </tr>
  <tr>
    <td class="dayTitle" colspan="4">Tomorrow</td>
  </tr>
  <tr>
    <td>7:00 am</td>
    <td>11:00 am</td>
    <td>3:00 pm</td>
    <td>7:00 pm</td>
  </tr>
  <tr>
    <td>7:30 am</td>
    <td>11:30 am</td>
    <td>3:30 pm</td>
    <td>7:30 pm</td>
  </tr>
  <tr>
    <td>8:00 am</td>
    <td>12:00 pm</td>
    <td>4:00 pm</td>
    <td>8:00 pm</td>
  </tr>
  <tr>
    <td>8:30 am</td>
    <td>12:30 pm</td>
    <td>4:30 pm</td>
    <td>8:30 pm</td>
  </tr>
  <tr>
    <td>9:00 am</td>
    <td>1:00 pm</td>
    <td>5:00 pm</td>
    <td>9:00 pm</td>
  </tr>
  <tr>
    <td>9:30 am</td>
    <td>1:30 pm</td>
    <td>5:30 pm</td>
    <td>9:30 pm</td>
  </tr>
  <tr>
    <td>10:00 am</td>
    <td>2:00 pm</td>
    <td>6:00 pm</td>
    <td>10:00 pm</td>
  </tr>
  <tr>
    <td>10:30 am</td>
    <td>2:30 pm</td>
    <td>6:30 pm</td>
    <td>10:30 pm</td>
  </tr>
  <tr>
    <td class="dayTitle" colspan="4"></td>
  </tr>
    <tr>
    <td>7:00 am</td>
    <td>11:00 am</td>
    <td>3:00 pm</td>
    <td>7:00 pm</td>
  </tr>
  <tr>
    <td>7:30 am</td>
    <td>11:30 am</td>
    <td>3:30 pm</td>
    <td>7:30 pm</td>
  </tr>
  <tr>
    <td>8:00 am</td>
    <td>12:00 pm</td>
    <td>4:00 pm</td>
    <td>8:00 pm</td>
  </tr>
  <tr>
    <td>8:30 am</td>
    <td>12:30 pm</td>
    <td>4:30 pm</td>
    <td>8:30 pm</td>
  </tr>
  <tr>
    <td>9:00 am</td>
    <td>1:00 pm</td>
    <td>5:00 pm</td>
    <td>9:00 pm</td>
  </tr>
  <tr>
    <td>9:30 am</td>
    <td>1:30 pm</td>
    <td>5:30 pm</td>
    <td>9:30 pm</td>
  </tr>
  <tr>
    <td>10:00 am</td>
    <td>2:00 pm</td>
    <td>6:00 pm</td>
    <td>10:00 pm</td>
  </tr>
  <tr>
    <td>10:30 am</td>
    <td>2:30 pm</td>
    <td>6:30 pm</td>
    <td>10:30 pm</td>
  </tr>
  <tr>
    <td class="dayTitle" colspan="4"></td>
  </tr>
    <tr>
    <td>7:00 am</td>
    <td>11:00 am</td>
    <td>3:00 pm</td>
    <td>7:00 pm</td>
  </tr>
  <tr>
    <td>7:30 am</td>
    <td>11:30 am</td>
    <td>3:30 pm</td>
    <td>7:30 pm</td>
  </tr>
  <tr>
    <td>8:00 am</td>
    <td>12:00 pm</td>
    <td>4:00 pm</td>
    <td>8:00 pm</td>
  </tr>
  <tr>
    <td>8:30 am</td>
    <td>12:30 pm</td>
    <td>4:30 pm</td>
    <td>8:30 pm</td>
  </tr>
  <tr>
    <td>9:00 am</td>
    <td>1:00 pm</td>
    <td>5:00 pm</td>
    <td>9:00 pm</td>
  </tr>
  <tr>
    <td>9:30 am</td>
    <td>1:30 pm</td>
    <td>5:30 pm</td>
    <td>9:30 pm</td>
  </tr>
  <tr>
    <td>10:00 am</td>
    <td>2:00 pm</td>
    <td>6:00 pm</td>
    <td>10:00 pm</td>
  </tr>
  <tr>
    <td>10:30 am</td>
    <td>2:30 pm</td>
    <td>6:30 pm</td>
    <td>10:30 pm</td>
  </tr>
</table>

  </div>